<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144054415332-3r6fjl145j4i1l2eq7hi8hou99hismiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144054415332-3r6fjl145j4i1l2eq7hi8hou99hismiq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJs_gjIZyaku_lTIU-kNv0zKN1V1QYDTM</string>
	<key>GCM_SENDER_ID</key>
	<string>144054415332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trialga</string>
	<key>PROJECT_ID</key>
	<string>nextjs-ga-web</string>
	<key>STORAGE_BUCKET</key>
	<string>nextjs-ga-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144054415332:ios:9902245ddad625157f61f1</string>
</dict>
</plist>